:root {
    --font-family-main: 'Inter', sans-serif;

    --color-primary: #FF577F;
    --color-primary-focus: #FF427F;
    --color-primary-negative: #59323F;

    --gray-0: #F8F9FA;
    --gray-1: #868E96;
    --gray-2: #343B41;
    --gray-3: #212529;
    --gray-4: #121214;

    --success: #3FE864;
    --failure: #E83F5B;

    --text-size-0: 1.125rem;
    --text-size-1: 1rem;
    --text-size-2: 0.75rem;

    --text-weight-0: 700;
    --text-weight-1: 600;
    --text-weight-2: 500;
    --text-weight-3: 400;
}