.tech {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--gray-4);
    padding: 1rem;
    border-radius: 0.25rem;
    gap: 1rem;

    h4 {
        font-weight: var(--text-weight-0);
    }

    .tech-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0;
        width: 100%;

        > div {
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 1rem;
            justify-content: flex-end;

            button {
                padding: 0;
                background: none;
            
                &:hover {
                    cursor: pointer;
                }
            }
        }

        span {
            font-size: var(--text-size-2);
            font-weight: var(--text-weight-3);
        }
    }
}

@media (min-width: 480px) {
    .tech {
        flex-direction: row;
        justify-content: space-between;

        .tech-info {
            justify-content: flex-end;
            width: 50%;

            > div {
                width: 3rem;
            }
        }
    }
}